body {
	font-family: "Futura", sans-serif;
	padding-top: 70px;
}

/* NAVIGATION BAR */

.navbar {
	background: #ffffff;
}

.top-nav {
	list-style-type: none;
	display: inline-block;
	text-align: center;
}

.top-nav > li {
	display: inline-block;
}

.nav-left {
	float: left;
}

.nav-center {
	padding: 50px 20px;
	margin-left: 10%;
	margin-right: 10%;
	font-size: 20px;
}

.nav-right {
	float: right;
	padding: 50px 50px 20px 0;
}

/* INTRO IMAGE */

.intro {

}

/* NEWSLETTER FORM */

#newsletter {
	background-color: rgba(52, 152, 219,1.0);
	border-top: 3px solid black;
	border-bottom: 1.5px solid black;
}

.newsletter {
	margin: 10px 25px;
	text-align: center;
	font-weight: bold;
	letter-spacing: 0.5px;
}

.sign-up {
	text-decoration: none;
	color: #000;
	font-size: 16px;
}

/* MISSION STATEMENT */

#mission {
	text-align: center;
	padding-bottom: 40px;
	border-top: 1.5px solid black;
	border-bottom: 1.5px solid black;
}

.mission-st {

}

.mission-st > h2 {
	margin-top: 50px;
}

.mission-st > p {
	margin: 30px 23%;
}

/* CURRENT BOARD */

#board {
	background-color: rgba(52, 152, 219,1.0);
	border-top: 1.5px solid black;
	padding-bottom: 40px;
}

.board-list {
	text-align: center;
}

.current-board h2 {
	text-align: center;
	margin-top: 50px;
	color: #fff;
	padding-bottom: 20px;
}

.board-list > li {
	list-style-type: none;
	display: inline-block;
}

.board-img {
	width: 150px;
	height: 150px;
	border: 1px black solid;
	margin: 5px 80px;
	align-items: center;
	border-radius: 10px 15px;
}

.current-board > button {
	text-align: center;
}



/* CORPORATE SPONSORS LOGOS */

#sponsors {
	text-align: center;
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding: 5px 0px;
}

.sponsor-list {
	list-style-type: none;
	display: inline-block;
}

.sponsor-img {
	margin: 10px 10px;
}

/* INFORMATION BOXES */

#information {
	padding: 80px 5px;
}

.info-news {
	position: relative;
	width: 600px;
	text-transform: uppercase;
}

.info-box {
	border: 2px solid black;
	border-radius: 15px 5px;
	margin-bottom: 15px;
}

.absolute-text {
	position: absolute;
	bottom: 0;
	font-size: 28px;
	font-family: "Futura", sans-serif;
	background: rgba(251,251,251,0.6);
	padding: 90px 20px;
	width: 100%;
	text-align: center;
}

.absolute-text:hover {
	position: absolute;
	bottom: 0;
	font-size: 28px;
	font-family: "Futura", sans-serif;
	background: rgba(251,251,251,0.8);
	padding: 90px 20px;
	width: 100%;
	text-align: center;
}


/* FOOTER with SOCIAL ICONS and INFORMATION */

#footer {
	background-color: rgba(52, 152, 219,1.0);
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 4px solid black;
}

.footer-social {
	text-align: center;
}

.footer-social i {
	color: #fff;
	text-align: center;
	padding: 0px 10px;
}

.footer-address {
	display: inline-block;
	text-align: left;
}

.footer-address > p {
	margin-left: 30px;
}

.footer-address, .footer-phone {
	display: inline-block;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.5px;
}

.footer-phone {
	text-align: right;
}

.footer-phone > p {
	margin-right: 30px;
}